.userCard {
    border: 1px solid #f1f1f1;
    background-color: #fece00;
    margin-top: 10px ;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    max-width: 90%;
    @media (min-width: 768px) {
        margin: 12px;
        &:hover {
            transform: scale(1.1);
            transition: all .2s ease-in;
        }
    }
    @media (min-width: 1510px) {
        font-size: 25px;
        height: 300px;
    }
    
    .userDetails {
        margin-top: 15px;
    }
    .nameAndEmail {
        &:hover{
            color: white;
        }
        cursor: pointer;
    }

    .linkToMap {
        text-decoration: none;
        cursor: crosshair;
       }
    .coordinates {
        text-decoration: none;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 10px auto;
        background-color: rgb(0, 0, 0);
        border-radius: 16px;
        padding: 8px 5px;
        color: #FFF;
        font-size: 20px;
        font-weight: 300;
        text-shadow: 2px 1px rgba(50, 50, 70, 0.5);
        text-align: center;
        box-shadow: 2px 4px rgba(0, 0, 0, 0.2) ; 
        @media (min-width: 1500px) {
            font-size: 25px;
            padding: 15px 0;
            width: 80%;
        }
    }

    .deleteUserBtn {
        float: right;
        border: none;
        background: transparent;
        transition: all 0.5s;
        font-size: 28px;
        font-weight: 700;
        border-radius: 99px;
        width: 32px;
        height: 32px;
        line-height: 29px;
        &:hover {
            background: #fffffe;
        }
        // width: 50px;
        // display: none;
        // border-radius: 10px;
        // background-color: #fece00;
        // color:rgba(0, 0, 0, 0.5)
        
    }

    
}

.userCard:hover {
    .deleteUserBtn {
        display: block;
    }
}